.element__trash {
    position: absolute;
    right: 17px;
    top: 24px;
    background-image: url(../../../images/trash.svg);
    background-color: transparent;
    width: 18px;
    height: 19.3px;
    z-index: 100;
    border: 0;
    cursor: pointer;
    outline-width: 0;
    visibility: visible;
}

.element__trash:hover {
    opacity: 0.6;
    transition: 0.5s;
}